body{
	margin: 0;
	background: #c4c4d5;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
#canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
#lens {
	height: 135%;
	width: 135%;
	top: -17.5%;
	left: -17.5%;
	box-sizing: border-box;
	position: absolute;
}
#workspace {
	width:100%;
	height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  column-gap: 0;
  outline-style: solid;
  outline-color:white;
  background: white;
}
.cell {
	float: left;
	box-sizing: border-box;
}
.cell * {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}
.cell p {
	margin: 0;
}
.cell .nucleus {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-style: solid;
  // color: white;
  // font-size: 2rem;
  // font-weight: bolder;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.cell#virtual,
.cell .nucleus table,
.cell .nucleus p,
.cell .nucleus h1 {
	pointer-events: none;
} 

/* Interactive */
.cell.interactive {
	animation: .155s infinite alternate jiggle;
	animation-timing-function: ease-in-out;
	cursor: grab;
	z-index: 100;
}
.cell.interactive:hover {
	opacity:.7;
}
.cell#virtual  {
	opacity: 1;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
	border-radius:8px;
	cursor: grabbing;
}
.cell#virtual .nucleus {
	border-width: 3px !important;
	border-radius:8px;
}
.cell.destination {
	opacity: .7;
	animation:initial;
}
@keyframes jiggle {
  from {
    transform: rotateZ(.8deg);

  }
  to {
    transform: rotateZ(-.8deg);
  }
}

/* Tools */

#tools {
	position: absolute;
	bottom:0;
	right:0;
}
#tools p {
	margin: 0;
}
.buttonGroup {
	float: left;
	display: inline-block;
	clear: both;
}
input.readout{
	width: 3rem;
}
input.readout#border{
	width: 1rem;
}
input {
	float: left;
}
input#columns,
input#rows {
	height: 2.2rem;
}
.slider {
	height: inherit;
}
button {
	float: left;
	min-width: 24px;
}
.subgroup {
	float: left;
}
.subgroup button{
	display: inline-block;
	clear: both;
	float: left;
}